# Python / Virtual Environment
__pycache__/
*.pyc
venv/
env/
.env

# Scrapy specific
.scrapy/
*.log

# IDE settings (VS Code / PyCharm)
.vscode/
.idea/
.claude
.playwright-mcp

# Local Output Files (Don't commit crawl data!)
data/

# OS specific
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
